@tailwind base;
@tailwind components;
@tailwind utilities;

.color-change-2x {
  -webkit-animation: color-change-2x 2s linear infinite alternate both;
  animation: color-change-2x 2s linear infinite alternate both;
}
#styled-with{
  margin-top: 1400px;
}
#info-blockchain-pg{

  margin-top: 1700px;
}
@media (min-width: 768px) {
  #info-blockchain-pg{

      margin-top:40px;
  }
  #styled-with{
    margin-top: 4px;
  }
}
h2{
  color: #6bfff7ab;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 2em;
}
h3{
  font-size: 1.5em;
  font-weight: 600;
}
h4{
  font-size: 1.2em;
}
p{
  margin-top: 0.05em;
}
.link{
  border: black solid 3px;
  border-radius: 15px;
  padding: 3px;
  box-shadow: #6bfff832;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}
.link:hover{
  box-shadow:#6bfff7ab;
}

/**
 * ----------------------------------------
 * animation color-change-2x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

